.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.buttons {
    display: grid;
    grid-template-areas:
        "c bracket1 bracket2 divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "del zero dot equal";
    gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.bg-grey {
    background: #777777;
}

.btn.bg-blue {
    background: #50afb4;
}

.display {
    width: 100%;
    height: 170px;
    background: #000;
    color: #fff;
}

.output {
    text-align: right;
    font-size: 3rem;
    margin: 0;
}

.result {
    text-align: right;
    font-size: 4rem;
    margin: 0;
    padding-top: 10px;
}
